@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html, body, #root {
  background-color: #0b0d14 !important;
  min-height: 100vh;
}